<div class="container" style="margin-top: 7em !important;">
  <div class="box" *ngFor="let campaign of campaigns; let i = index">
    <img [src]="campaign.images[0].imageUrl" [alt]="campaign.campaignId">
    <div class="textSection">
      <div class="_title">
        {{ campaign.title }}
      </div>
      <p>
        <quill-view [content]="campaign.content" format="json" theme="snow"></quill-view>
      </p>
      <div class="tooltipSection">
        <div class="_tooltip">70%</div>
        <div class="progress">
          <div class="determinate" style="width: 70%">
          </div>
        </div>
        <div class="progressBottomTxt">
          <div class="_left">
            Raised: <span><i class="fas fa-rupee-sign"></i>3200</span>
          </div>
          <div class="_right">
            Goal: <span><i class="fas fa-rupee-sign"></i>{{campaign.goalAmount}}</span>
          </div>
        </div>
        <button class="btnDonate">Donate Now</button>
      </div>
    </div>
  </div>
</div>
