<div class="container mb-5" style="margin-top: 7rem !important;">

  <div class="row ">
    <form #createBlog="ngForm" (ngSubmit)="createBlogForPost(createBlog)">
      <div class="col-md-12 m-3">
        <div class="d-flex flex-wrap align-items-center">
          <input class="form-control form-control-lg w-75" type="text" minlength="5" maxlength="200" name="title"
                 ngModel
                 placeholder="Enter a nice title..."
                 required/>
          <mat-slide-toggle class="ml-5" ngModel name="isHighlight">Highlight Post</mat-slide-toggle>
        </div>
      </div>
      <div class="col-md-12 m-3">
        <div class="d-flex flex-wrap align-items-center">
          <input class="form-control form-control-lg w-75" minlength="10" maxlength="200" type="text" name="subtitle"
                 ngModel
                 placeholder="Enter a subtitle..."
                 required/>
        </div>
      </div>
      <div class="col-md-12 min-width-centre">

        <file-pond #myPond
                   [options]="pondOptions"
                   [files]="pondFiles"
                   data-max-files="1"
                   (oninit)="pondHandleInit()"
                   (onaddfile)="pondHandleAddFile($event)">
        </file-pond>

      </div>
      <div class="col-md-12">
        <quill-editor [styles]="editorStyle" (onFocus)="focus($event)" format="json" (onEditorCreated)="created($event)"
                      minLength="20"
                      (onBlur)="blur($event)" [modules]="config"
                      #postContent name="content" ngModel required>
        </quill-editor>

      </div>

      <div class="col-md-12 m-3">
        <mat-form-field class="example-chip-list">
          <mat-label>Add Tags</mat-label>
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="col-md-12 text-center m-3">
        <button class="btn btn-outline-primary"
                [disabled]="!createBlog.valid || (!uploadIds || uploadIds.length < 1)  "><i class="fa fa-upload mr-2"
                                                                                            aria-hidden="true"></i>Post
          Blog....
        </button>
      </div>

    </form>
  </div>


</div>

