
  <section id="sec-testimonials" class="sec-testimonials">
    <div class="container">
      <h1 class="h4 mb-5 text-center">Words from our members</h1>

      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>The vibe here is bright and very optimistic. Clients love to visit us here and every day we
                    make new friends and contacts with other start-ups. Being a a member is our secret super
                    power.</small>

                  <footer class="blockquote-footer mt-2">Timothy Wilson, CTO</footer>
                </blockquote>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>I've been a memeber for over 3 years. We have always been welcomed by friendly faces and
                    helpful staff. This co-working space has everything we need from Wi-Fi to fresh and delicious
                    coffee.</small>

                  <footer class="blockquote-footer mt-2">Ziva Stark, CEO</footer>
                </blockquote>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!
                    I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!I joined since its opening and I couldn't have found a better working space. Being a member is
                    so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like
                    me!</small>

                  <footer class="blockquote-footer mt-2">Teresa Swanson, CEO</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="fa fa-angle-left fa-2x"></span>
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="fa fa-angle-right fa-2x"></span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

