<div class="container-fluid mt-7rem mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <h1>Create Account</h1>
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" id="name" placeholder="Name" ngModel name="email" required #name class="form-control"/>
            <input type="email" id="email2" placeholder="Email" ngModel name="email" required email
                   class="form-control"/>
            <input type="password" id="password2" placeholder="Password" ngModel required name="password"
                   class="form-control" minlength="6" maxlength="30"/>
            <button type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
            <h1>Sign in</h1>
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <span>or use your account</span>
            <input class="form-control" type="email" id="email1" placeholder="Email" ngModel name="email" required
                   email/>
            <input class="form-control" type="password" id="password1" ngModel required name="password"
                   placeholder="Password" minlength="6" maxlength="30"/>
            <a href="#">Forgot your password?</a>
            <button type="submit" [disabled]="!signInForm.valid">Sign In</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" id="signIn" (click)="signInClicked()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Visitor!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost" id="signUp" (click)="signUpClicked()">Sign Up</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
