<div class="wrapper mt-lg-5">
  <main class="content">
    <div class="feed-grid">
      <div class="card-half" *ngFor=" let blog of blogs">
        <div class="card-img">
          <span class="label">  <i class="fas fa-star"></i></span>
          <img [src]="blog.imageUrl" [alt]="blog.title"/></div>
        <div class="card-text mt-1">
          <h4>{{blog.title}}</h4>
          <p>{{blog.description}}</p>
        </div>
        <ul class="card-tools">
          <li class="tools-item">
            <i class="fas fa-calendar-day"></i>
            <span class="tools-count">{{'27th Aug'}}</span></li>
          <li class="tools-item">
            <i class="fas fa-heart"></i>
            <span class="tools-count">{{blog.likes}}</span></li>
          <li class="tools-item">
            <i class="fas fa-share-alt-square"></i>
          </li>
          <li class="tools-item">
            <i class="fas fa-user-circle"></i>
            <span class="tools-count">{{blog.author}}</span></li>
        </ul>
      </div>

    </div>
  </main>
</div>
