<div class="container-fl mb-5" style="margin-top: 7rem !important;">
  <div class="blog-card" *ngFor="let blog of blogs; let i = index" [class.alt]="i%2!==0">
    <div class="meta">
      <div class="photo" [ngStyle]="{'background-image': 'url('+ blog.imageUrl  + ')'}"></div>
      <ul class="details">
        <li class="author"><a href="#">{{ blog.author[0].name}}</a></li>
        <li class="date">{{ blog.createdAt }}</li>
        <li *ngIf="blog.isHighlight"><i class="fas fa-star mr-2"></i>Featured</li>
        <li><i class="fas fa-heart mr-2"></i>{{ blog.likedBy }}</li>
        <li class="tags">
          <ul>
            <li *ngFor="let tag of blog.tags"><a [class.disabled]="true">{{ tag }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{ blog.title }}</h1>
      <p [innerHTML]="bypassHtML(blog.content)"> </p>
      <p class="read-more text-center">
        <a [routerLink]="[blog.blogId]">Read More</a>
      </p>
    </div>
  </div>

<!--  <mat-form-field>-->
<!--    <mat-label>Message</mat-label>-->
<!--    <input matInput value="Disco party!" #message>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Action</mat-label>-->
<!--    <input matInput value="Dance" #action>-->
<!--  </mat-form-field>-->

  <button mat-stroked-button (click)="openSnackBar()">Show snack-bar</button>
</div>
