<div class="container" style="margin-top: 100px !important; margin-bottom:100px !important;">
  <div class="row pt-5 pb-5">
    <form #createBlog="ngForm" (ngSubmit)="createPostRequest(createBlog)">
      <div class="col-md-12 pb-5">
        <input class="form-control form-control-lg" type="text" name="title" ngModel placeholder="Enter a nice title..."
               required/>
      </div>
      <div class="col-md-12">
        <div id="quill">
          <quill-editor [styles]="editorStyle" placeholder="Lets create some awesome posts..." [modules]="config"
                        #postContejt name="description" required>
          </quill-editor>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-info"> Create</button>
    </form>
  </div>
</div>

