<div class="container m-auto">
  <div class="row">
    <div class="col-lg-12 absolute-center">
      <file-pond #myPond
                 [options]="pondOptions"
                 [files]="pondFiles"
                 (oninit)="pondHandleInit()"
                 data-max-files="5"
                 (onaddfile)="pondHandleAddFile($event)">
      </file-pond>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-primary"><i class="fa fa-upload mr-2" aria-hidden="true"></i>Submit....</button>
    </div>

  </div>

</div>
