/**{box-sizing:border-box}*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*.form-wrap {*/
/*  width: 550px;*/
/*  background: #FF5722;*/
/*  border-radius: 20px;*/
/*}*/
/*.form-wrap *{transition: .1s linear}*/
/*.profile {*/
/*  width: 240px;*/
/*  float: left;*/
/*  text-align: center;*/
/*  padding: 30px;*/
/*}*/
/*.description{*/
/*  margin-top: 10px;*/
/*  margin-bottom: 20px;*/
/*}*/
/*form {*/
/*  background: white;*/
/*  float: left;*/
/*  width: calc(100% - 240px);*/
/*  padding: 30px;*/
/*  border-radius: 0 20px 20px 0;*/
/*  color: #7b7b7b;*/
/*}*/
/*.form-wrap:after, form div:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/
/*form div {*/
/*  margin-bottom: 15px;*/
/*  position: relative;*/
/*}*/
/*h1 {*/
/*  font-size: 24px;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  margin-top: 50px;*/
/*}*/
/*h1:after {*/

/*  font-size: 40px;*/
/*  font-family: FontAwesome;*/
/*  position: absolute;*/
/*  top: 50px;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*}*/
/*label, span {*/
/*  display: block;*/
/*  font-size: 14px;*/
/*  margin-bottom: 8px;*/
/*}*/
/*input[type="text"], input[type="email"], input[type="password"] {*/
/*  width: 100%;*/
/*  padding: 10px 15px;*/
/*  border-width: 0;*/
/*  background: #e6e6e6;*/
/*  outline: none;*/
/*  margin: 0;*/
/*}*/
/*input[type="text"]:focus, input[type="email"]:focus {*/
/*  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);*/
/*}*/
/*.radio label {*/
/*  position: relative;*/
/*  padding-left: 50px;*/
/*  cursor: pointer;*/
/*  width: 50%;*/
/*  float: left;*/
/*  line-height: 40px;*/
/*}*/
/*.radio input {*/
/*  position: absolute;*/
/*  opacity: 0;*/
/*}*/
/*.radio-control {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 40px;*/
/*  width: 40px;*/
/*  background: #e6e6e6;*/
/*  border-radius: 50%;*/
/*  text-align: center;*/
/*}*/
/*.male:before {*/
/*  content: "\f222";*/
/*  font-family: FontAwesome;*/
/*  font-weight: bold;*/
/*}*/
/*.female:before {*/
/*  content: "\f221";*/
/*  font-family: FontAwesome;*/
/*  font-weight: bold;*/
/*}*/
/*.radio label:hover input ~ .radio-control,*/
/*.radiol input:focus ~ .radio-control {*/
/*  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);*/
/*}*/
/*.radio input:checked ~ .radio-control {*/
/*  color: red;*/
/*}*/
/*select {*/
/*  width: 100%;*/
/*  cursor: pointer;*/
/*  padding: 10px 15px;*/
/*  outline: 0;*/
/*  border: 0;*/
/*  background: #e6e6e6;*/
/*  color: #7b7b7b;*/
/*  -webkit-appearance: none;*/
/*  -moz-appearance: none;*/
/*}*/
/*select::-ms-expand {*/
/*  display: none;*/
/*}*/
/*.select-arrow {*/
/*  position: absolute;*/
/*  top: 38px;*/
/*  right: 15px;*/
/*  width: 0;*/
/*  height: 0;*/
/*  pointer-events: none;*/
/*  border-style: solid;*/
/*  border-width: 8px 5px 0 5px;*/
/*  border-color: #7b7b7b transparent transparent transparent;*/
/*}*/
/*button {*/
/*  padding: 10px 0;*/
/*  border-width: 0;*/
/*  display: block;*/
/*  width: 120px;*/
/*  margin: 25px auto 0;*/
/*  background: #60e6c5;*/
/*  color: white;*/
/*  font-size: 14px;*/
/*  outline: none;*/
/*  text-transform: uppercase;*/
/*}*/
/*@media (max-width: 600px) {*/
/*  body {display: block}*/
/*  .form-wrap {margin: 20px auto; max-width: 550px; width:100%}*/
/*  .profile, form {float: none; width: 100%}*/
/*  h1 {margin-top: auto; padding-bottom: 50px;}*/
/*  form {border-radius: 0 0 20px 20px}*/
/*}*/

/*.mt-7rem{*/
/*  margin-top: 7rem!important;*/
/*}*/

.pro {
  width: fit-content;
  color: #231e39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: relative;
  top: 30px;
  right: 30px;
  float: right;
}





*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
}

*:focus {
  outline: none !important;
}

.mt-7rem {
  margin-top: 7rem !important;
}

.custom-profile{
  /*display: flex;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*justify-content: center;*/
  padding: 12px;
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$mauve", endColorstr="$blush",GradientType=1 );*/
  /*font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
  /*font-size: 16px;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*perspective: 1000px;*/
}


input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  resize: none;
}

a, button, input[type=submit] {
  cursor: pointer;
}

::-moz-selection {
  background: rgba(205, 144, 139, 0.2);
}

::selection {
  background: rgba(205, 144, 139, 0.2);
}

#settings {
  opacity: 0;
  transform-origin: center bottom;
  will-change: opacity, transform;
  -webkit-animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background: white;
  box-shadow: 0 0 20px rgba(21, 21, 29, 0.2);
  overflow: hidden;
  color: #3f4159;
  border-radius: 2px;
  width: auto;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$mauve", endColorstr="$blush",GradientType=1 );
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  height: 100%;

  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  #settings {
    max-height: 500px;
  }
}

span.nav-profile {
  transition: all 150ms ease-out;
  flex-basis: 25%;
  display: block;
  position: relative;
  width: 100%;
  padding: 18px 0;
  text-align: center;
}

span.nav-profile:nth-of-type(1) {
  z-index: 5;
}

span.nav-profile:nth-of-type(2) {
  z-index: 4;
}

span.nav-profile:nth-of-type(3) {
  z-index: 3;
}

span.nav-profile:nth-of-type(4) {
  z-index: 2;
}

span.nav-profile:nth-of-type(5) {
  z-index: 1;
}

span.nav-profile:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  background: #f3e3e2;
}

span.nav-profile:last-of-type:after {
  display: none;
}

input.nav-profile {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  position: absolute;
  z-index: 6;
  top: 0;
  width: 25%;
  height: 53px;
}

input.nav-profile:hover + span, input.nav-profile:focus + span {
  background: #f3e3e2;
}

input.nav-profile:active + span, input.nav-profile:checked + span {
  background: #FF5722;
  color: white;
}

input.nav-profile:active + span {
  transition: all 150ms ease-in;
}

input.nav-profile ~ main section {
  transition: all 450ms ease-out;
  transform: translateY(50%) translateZ(0);
  opacity: 0;
  z-index: -1;
}

input.nav-profile:nth-of-type(1) {
  left: 0%;
}

input.nav-profile:nth-of-type(1):checked ~ main section:nth-of-type(1) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
  position: relative;
}

input.nav-profile:nth-of-type(2) {
  left: 25%;
}

input.nav-profile:nth-of-type(2):checked ~ main section:nth-of-type(2) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
  position: relative;
}

input.nav-profile:nth-of-type(3) {
  left: 50%;
}

input.nav-profile:nth-of-type(3):checked ~ main section:nth-of-type(3) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
  position: relative;
}

input.nav-profile:nth-of-type(4) {
  left: 75%;
}

input.nav-profile:nth-of-type(4):checked ~ main section:nth-of-type(4) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
  position: relative;
}

input.nav-profile:nth-of-type(5) {
  left: 100%;
}

input.nav-profile:nth-of-type(5):checked ~ main section:nth-of-type(5) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
  position: relative;
}

main {
  align-self: flex-end;
  position: relative;
  border-top: 2px solid #f3e3e2;
  width: 100%;
  height: calc(100% - 52px);
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  will-change: transform, opacity;
}

section ul {
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}

section ul li {
  opacity: 0;
  transform: translateY(100%) translateZ(0);
  will-change: transform, opacity;
  -webkit-animation: slideInUp 600ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slideInUp 600ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  padding: 6px 12px;
  width: 50%;
}

section ul li:nth-child(1) {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

section ul li:nth-child(2) {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

section ul li:nth-child(3) {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

section ul li:nth-child(4) {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

section ul li:nth-child(5) {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}

section ul li:nth-child(6) {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

section ul li:nth-child(7) {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}

section ul li.large {
  width: 100%;
}

section ul li.padding {
  padding: 12px;
}

section.upcoming {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

section.upcoming h1 {
  font-size: 32px;
  color: #cccccc;
}

.avatar-upload {
  position: relative;
  max-width: 125px;
  margin: 10px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f44336;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.material {
  width: 100%;
}

.material div {
  position: relative;
  width: 100%;
  padding-top: 25px;
}

.material label {
  transition: all 150ms ease-out;
  will-change: transform;
  transform: translateZ(0);
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 4px;
  font-weight: 500;
  color: #cd908b;
  line-height: 1.5;
}

.material hr {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border: 0;
  border-radius: 4px;
  margin: 0;
  background: #ebebeb;
}

.material hr:after {
  transition: all 150ms ease-out;
  transform: scaleX(0) translateZ(0);
  transform-origin: left top;
  will-change: transform;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #cd908b;
}

.material input {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  padding: 0 0 4px;
  margin: 0;
  width: 100%;
  background: none;
  color: #3f4159;
  font-size: 16px;
  line-height: 1.5;
}

.material input:focus + label, .material input:valid + label {
  transform: translateY(-24px) translateZ(0);
  font-size: 12px;
}

.material input:focus ~ hr:after {
  transform: scaleX(1) translateZ(0);
}

.material-checkbox div {
  position: relative;
}

.material-checkbox .check {
  z-index: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

.material-checkbox span {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #ebebeb;
}

.material-checkbox svg {
  display: block;
  width: 100%;
  height: 100%;
}

.material-checkbox line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2px;
  stroke-linecap: round;
}

.material-checkbox g:last-child line {
  stroke: white;
  opacity: 0;
}

.material-checkbox g:last-child line:first-child {
  transition: stroke-dashoffset 100ms ease-out;
  stroke-dasharray: 6.708;
  stroke-dashoffset: 6.708;
}

.material-checkbox g:last-child line:last-child {
  transition: stroke-dashoffset 200ms ease-out 100ms;
  stroke-dasharray: 14.873;
  stroke-dashoffset: 14.873;
}

.material-checkbox label {
  margin-left: 6px;
}

.material-checkbox input {
  cursor: pointer;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.material-checkbox input:checked + div span {
  background: #cd908b;
}

.material-checkbox input:checked + div g:last-child line {
  opacity: 1;
}

.material-checkbox input:checked + div g:last-child line:first-child {
  stroke-dashoffset: 0;
}

.material-checkbox input:checked + div g:last-child line:last-child {
  stroke-dashoffset: 0;
}

.material-button {
  width: 100%;
}

.material-button div {
  width: 100%;
}

.material-button button, .material-button input[type=submit] {
  margin: 0;
  border: 0;
  border-radius: 2px;
  padding: 6px 12px;
  background: #ebebeb;
  color: #3f4159;
  font-size: 16px;
  transition: all 150ms ease-out;
}

.material-button button:hover, .material-button button:focus, .material-button input[type=submit]:hover, .material-button input[type=submit]:focus {
  background: #cd908b;
  color: white;
}

.material-button button:active, .material-button input[type=submit]:active {
  transition: all 150ms ease-in;
  background: #3f4159;
}

.material-button button.save, .material-button input[type=submit].save {
  width: 100%;
  max-width: 256px;
  padding: 12px 24px;
  background: #FF5722;
  color: white;
  font-size: 18px;
}

.material-button button.save:hover, .material-button button.save:focus, .material-button input[type=submit].save:hover, .material-button input[type=submit].save:focus {
  background: #cd908b;
}

.material-button button.save:active, .material-button input[type=submit].save:active {
  background: #3f4159;
}

@media only screen and (max-height: 444px) {
  .material-button button.save, .material-button input[type=submit].save {
    display: none;
  }
}

.material-button button.connect, .material-button input[type=submit].connect {
  display: block;
  width: 100%;
  border-radius: 1000px;
  color: white;
}

.material-button button.gh, .material-button input[type=submit].gh {
  background: #4183c4;
}

.material-button button.gh:hover, .material-button button.gh:focus, .material-button input[type=submit].gh:hover, .material-button input[type=submit].gh:focus {
  background: #7ba9d6;
}

.material-button button.gh.connected, .material-button input[type=submit].gh.connected {
  background: #ebebeb;
  color: #343434;
}

.material-button button.gh.connected:hover, .material-button button.gh.connected:focus, .material-button input[type=submit].gh.connected:hover, .material-button input[type=submit].gh.connected:focus {
  background: #4183c4;
  color: white;
}

.material-button button.gh:active, .material-button input[type=submit].gh:active {
  background: #2c5d8d !important;
}

.material-button button.tw, .material-button input[type=submit].tw {
  background: #2daae1;
}

.material-button button.tw:hover, .material-button button.tw:focus, .material-button input[type=submit].tw:hover, .material-button input[type=submit].tw:focus {
  background: #70c5eb;
}

.material-button button.tw.connected, .material-button input[type=submit].tw.connected {
  background: #ebebeb;
  color: #343434;
}

.material-button button.tw.connected:hover, .material-button button.tw.connected:focus, .material-button input[type=submit].tw.connected:hover, .material-button input[type=submit].tw.connected:focus {
  background: #2daae1;
  color: white;
}

.material-button button.tw:active, .material-button input[type=submit].tw:active {
  background: #187da9 !important;
}

.material-button button.fb, .material-button input[type=submit].fb {
  background: #3b5997;
}

.material-button button.fb:hover, .material-button button.fb:focus, .material-button input[type=submit].fb:hover, .material-button input[type=submit].fb:focus {
  background: #5e7ec0;
}

.material-button button.fb.connected, .material-button input[type=submit].fb.connected {
  background: #ebebeb;
  color: #343434;
}

.material-button button.fb.connected:hover, .material-button button.fb.connected:focus, .material-button input[type=submit].fb.connected:hover, .material-button input[type=submit].fb.connected:focus {
  background: #3b5997;
  color: white;
}

.material-button button.fb:active, .material-button input[type=submit].fb:active {
  background: #263960 !important;
}

.material-button button.li, .material-button input[type=submit].li {
  background: #069;
}

.material-button button.li:hover, .material-button button.li:focus, .material-button input[type=submit].li:hover, .material-button input[type=submit].li:focus {
  background: #0099e6;
}

.material-button button.li.connected, .material-button input[type=submit].li.connected {
  background: #ebebeb;
  color: #343434;
}

.material-button button.li.connected:hover, .material-button button.li.connected:focus, .material-button input[type=submit].li.connected:hover, .material-button input[type=submit].li.connected:focus {
  background: #069;
  color: white;
}

.material-button button.li:active, .material-button input[type=submit].li:active {
  background: #00334d !important;
}

.material-button.center div {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
