<app-loading-spinner [hidden]="!isLoading"></app-loading-spinner>
<div class="container   mt-7rem mb-5 custom-profile" [hidden]="isLoading">

  <div id='settings'>
    <input checked class='nav-profile' name='nav-profile' type='radio'>
    <span class='nav-profile'>Profile</span>
    <input class='nav-profile' name='nav-profile' type='radio'>
    <span class='nav-profile'>Account</span>
    <input class='nav-profile' name='nav-profile' type='radio'>
    <span class='nav-profile'>Engagements</span>
    <input class='nav-profile' name='nav-profile' type='radio'>
    <span class='nav-profile'>Transactions</span>
    <main class='content'>
      <section id='profile'>
        <span class="pro">{{ profileUser.role }}</span>
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readURL($event)"/>
            <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + profileUser.avatarImageUrl + ')'}">
            </div>
          </div>
        </div>
        <form>
          <ul>
            <li>
              <fieldset class='material '>
                <div>
                  <input required type='text' [value]="profileUser.name ? profileUser.name : ''"
                         placeholder="Please Enter Your Name ...">
                  <label>Name</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="selectedGender" name="food">
                      <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='text' [value]="profileUser.address ? profileUser.address : ''">
                  <label>Address</label>
                  <hr>
                </div>
              </fieldset>
            </li>

            <li class='large'>
              <fieldset class='material'>
                <div>
                  <input required type='text' [value]="profileUser.testimonial ? profileUser.testimonial : ''">
                  <label>Testimonial</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            <li class='large padding'>
              <fieldset class='material-button center'>
                <div>
                  <input class='save' type='submit' value='Save'>
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>
      <section id='account'>
        <form>
          <ul>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='text' [value]="profileUser.email ? profileUser.email : ''"
                         placeholder="Please enter your email address">
                  <label>Email</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='tel'>
                  <label>Contact Number</label>
                  <hr>
                </div>
              </fieldset>
            </li>
<!--            <li>-->
<!--              <fieldset class='material'>-->
<!--                <div>-->
<!--                  <input required type='password'>-->
<!--                  <label>Password</label>-->
<!--                  <hr>-->
<!--                </div>-->
<!--              </fieldset>-->
<!--            </li>-->
<!--            <li class='padding'>-->
<!--              <fieldset class='material-button'>-->
<!--                <div>-->
<!--                  <button class='connect fb'>-->
<!--                    <span>Link Facebook Account</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </fieldset>-->
<!--            </li>-->
            <li class='large padding'>
              <fieldset class='material-button center'>
                <div>
                  <input class='save' type='submit' value='Save'>
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>
      <section class='upcoming' id='engagements'>
        <h1>Coming&nbsp;soon!</h1>
      </section>
      <section class='upcoming' id='transactions'>
        <h1>Coming&nbsp;soon!</h1>
      </section>
    </main>
  </div>


</div>
