<div class="container form-wrap mt-7rem mb-5">
  <span class="pro">MEMBER</span>
  <div class="profile">
    <img src="https://storage.googleapis.com/dews_avatars/avatars/men.png" height="118" width="118">
    <h1>User Name</h1>
    <div class="description">
      Maddie is a front end web developer in New York. She has worked in the field for 10 years now. Check out her
      projects in the links below. She is available for hire as well.
    </div>
  </div>
  <form method="post" class="mb-5">
    <div>
      <label for="name">Change Password</label>
      <input type="text" name="name" required>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="sex" value="male">Male
        <div class="radio-control male"></div>
      </label>
      <label>
        <input type="radio" name="sex" value="female">Female
        <div class="radio-control female"></div>
      </label>
    </div>
    <div>
      <label for="testimonial">Mobile</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="testimonial">Testimonial</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="testimonial">Address</label>
      <input type="email" name="email" required>
    </div>
    <!--div>
      <label for="country">Страна</label>
      <select name="country">
        <option>Выберите страну проживания</option>
        <option value="Россия">Россия</option>
        <option value="Украина">Украина</option>
        <option value="Беларусь">Беларусь</option>
      </select>
      <div class="select-arrow"></div>
    </div-->
    <button type="submit">Save</button>
  </form>
</div>
