<div class="container-fluid mt-7rem mb-5">

  <h1 class="heading"><i class="far fa-images"></i> Moments <i class="fas fa-camera-retro"></i></h1>


  <div id="gallery" class="container-fluid">
    <div *ngFor="let image of galleryImages;" style="text-align: center">
      <img [src]="image.imageUrl" class="img-responsive"
           (click)="openModal(image.imageUrl)" [alt]="image.imageId">

      <span class="example-button-container">
        <button [id]="image.imageId" [disabled]="image.isLiked || !user" mat-fab
                (click)="addLikes(image.imageId)"
                aria-label="Example icon button with a heart icon" matBadge="{{ image.totalLikes }}"
                matBadgeColor="accent" matBadgeSize="small">
          <mat-icon>favorite</mat-icon>
        </button>
      </span>
    </div>

  </div>


</div>
