<div class="container-fluid mt-7rem mb-5">

  <h1 class="heading"><i class="far fa-images"></i> Moments <i class="fas fa-camera-retro"></i></h1>

  <!--  <div class="gallery">-->

  <!--    <div class="gallery-item" *ngFor="let image of galleryImages;">-->
  <!--      <img class="gallery-image" [src]="image.imageUrl"-->
  <!--           [alt]="image.imageId">-->
  <!--    </div>-->

  <!--  </div>-->


  <!--  <h1>Responsive Image Gallery</h1><hr>-->
  <div id="gallery" class="container-fluid">
    <p *ngFor="let image of galleryImages;">
      <img [src]="image.imageUrl" class="img-responsive"
           (click)="openModal(image.imageUrl)" [alt]="image.imageId">
      <mat-icon class="icon-display" matBadge="{{ image.totalLikes }}" matBadgeColor="accent">favorite</mat-icon>
    </p>

  </div>


</div>
